.button {
  background-color: var(--color1);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  width: 10vmin;
  height: 10vmin;
  margin: 1vmin;
  padding: 0;
  border: 3px solid var(--color2);
  border-radius: 10px;
}

.button:active {
  background-color: var(--color3);
}

.buttonUp {
  transform: rotate(0deg);
}

.buttonRight {
  transform: rotate(90deg);
}

.buttonDown {
  transform: rotate(180deg);
}

.buttonLeft {
  transform: rotate(270deg);
}
