.tile {
  font-size: 2rem;
  border-radius: 10px;
  flex: 1;
  margin: 0.5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tileEmpty {
  background-color: var(--color3);
}

.tileFilled {
  background-color: var(--color4);
}
